body {
    background-color: #ff00ff;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: #00ff00;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.chaos-container {
    background: #ffff00;
    padding: 50px;
    border: 10px dashed red;
    transform: rotate(-2deg);
    text-align: center;
}

.display {
    font-size: 3rem;
    background: black;
    color: white;
    margin: 20px;
    padding: 10px;
}

.evil-button {
    padding: 20px;
    font-size: 1.5rem;
    cursor: wait;
    background: blue;
    color: white;
}

.jump-button {
    position: relative;
    transition: all 0.1s;
}

#btn-submit {
    margin-top: 30px;
    background: red;
    font-weight: bold;
}

/* O botão que foge */
#btn-submit:hover {
    position: absolute;
    top: calc(Math.random() * 80vh);
    left: calc(Math.random() * 80vw);
}